html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: black; src: url("/static/live4/fonts/cytiapro-black-webfont.eot"); src: url("/static/live4/fonts/cytiapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("/static/live4/fonts/cytiapro-black-webfont.woff") format("woff"), url("/static/live4/fonts/cytiapro-black-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: light; src: url("/static/live4/fonts/cytiapro-light-webfont.eot"); src: url("/static/live4/fonts/cytiapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/live4/fonts/cytiapro-light-webfont.woff") format("woff"), url("/static/live4/fonts/cytiapro-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: medium; src: url("/static/live4/fonts/cytiapro-medium-webfont.eot"); src: url("/static/live4/fonts/cytiapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/static/live4/fonts/cytiapro-medium-webfont.woff") format("woff"), url("/static/live4/fonts/cytiapro-medium-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: regular; src: url("/static/live4/fonts/cytiapro-regular-webfont.eot"); src: url("/static/live4/fonts/cytiapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/live4/fonts/cytiapro-regular-webfont.woff") format("woff"), url("/static/live4/fonts/cytiapro-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: thin; src: url("/static/live4/fonts/CytiaPro-Thin.eot"); src: url("/static/live4/fonts/CytiaPro-Thin.eot?#iefix") format("embedded-opentype"), url("/static/live4/fonts/CytiaPro-Thin.woff") format("woff"), url("/static/live4/fonts/CytiaPro-Thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: regular, helvetica, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header, .mainpage .mainpage__motto, .app, .footer, .content { margin: 0 40px; min-width: 920px; }
.is-responsive .header, .is-responsive .mainpage .mainpage__motto, .mainpage .is-responsive .mainpage__motto, .is-responsive .app, .is-responsive .footer, .is-responsive .content { min-width: 0; }

.is-main { height: 100%; position: relative; min-height: 700px; background: #333333; }
.is-main .bottompart { position: absolute; bottom: 0; left: 0; width: 100%; height: 280px; background: #333333; }

.header { position: relative; padding-top: 33px; z-index: 10; height: 81px; }
.is-main .header { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
.header .header__logo { background: url("/static/live4/img/svg/logo_black.svg") no-repeat 0 0; -moz-background-size: 112px 87px 100%; -webkit-background-size: 112px 87px 100%; background-size: 112px 87px 100%; width: 112px; height: 87px; display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; margin-right: 128px; float: left; }
.is-main .header .header__logo { background: url("/static/live4/img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 112px 87px 100%; -webkit-background-size: 112px 87px 100%; background-size: 112px 87px 100%; width: 112px; height: 87px; display: inline-block; }
.header ul { list-style: none; font-size: 14px; text-align: left; min-width: 430px; overflow: hidden; }
.header ul li { display: inline-block; }
.header ul a { color: #9b9b9b; text-decoration: none; margin-right: 35px; display: inline-block; }
.header ul a:hover, .header ul a.is-active { color: #1a1919; }
.is-main .header ul a { color: #a7aeb7; }
.is-main .header ul a:hover, .is-main .header ul a.is-active { color: white; }
.header .header__live { position: absolute; top: 33px; right: 0; font-size: 14px; color: #a7aeb7; text-align: right; }
.header .header__live a { color: #afbac6; text-decoration: none; }
.header .header__live a:hover { color: white; }
.header .header__menu { display: none; }
.is-responsive .header { position: relative; }
@media only screen and (max-width: 720px) { .is-responsive .header .header__logo { position: absolute; z-index: 350; }
  .is-responsive .header ul { position: fixed; right: 20px; top: 60px; background: white; z-index: 290; width: 100%; padding-bottom: 14px; display: none; }
  .is-responsive .header ul.is-mobileshown { display: block; }
  .is-responsive .header ul li { display: block; text-align: right; padding: 0; margin: 0; margin-top: 20px; }
  .is-responsive .header ul li a { font-size: 18px; color: #d0021b; padding: 0; margin: 0; }
  .is-responsive .header ul li a.is-active { color: #1a1919; }
  .is-responsive .header .header__menu { float: right; display: block; cursor: pointer; position: relative; z-index: 300; position: fixed; right: 20px; top: 20px; }
  .is-responsive .header .header__menu i { background: url("/static/live4/img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 24px 15px 100%; -webkit-background-size: 24px 15px 100%; background-size: 24px 15px 100%; width: 24px; height: 15px; display: inline-block; display: inline-block; vertical-align: middle; margin-left: 5px; }
  .is-responsive .header .header__current { font-size: 18px; color: #1a1919; font-weight: normal; text-decoration: none; display: inline-block; vertical-align: middle; } }

.mainpage { position: relative; height: 570px; overflow: hidden; min-width: 1000px; position: absolute; left: 0; top: 0; right: 0; bottom: 280px; height: auto; }
.mainpage .mainpage__video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }
.mainpage video { width: 100%; position: absolute; left: 0; top: 0; }
.mainpage .mainpage__motto { position: absolute; left: 0; bottom: -10px; font-size: 100px; color: white; line-height: 1; font-family: thin, helvetica, sans-serif; }

.app { *zoom: 1; position: relative; padding: 38px 0; }
.app:after { content: " "; display: table; clear: both; }
.app .app__text { font-size: 24px; line-height: 32px; font-family: light, helvetica, sans-serif; color: white; overflow: hidden; }
.app .app__scr { position: absolute; top: -180px; right: 80px; }
.app .app__link { float: right; margin-right: 370px; width: 140px; margin-left: 40px; color: white; text-align: center; }
.app .app__link .app__icon { background: url('../static/live4/img/icons-s0f4fe9ae45.png') 0 0 no-repeat; width: 80px; height: 80px; display: inline-block; }
.app .app__title { font-family: medium, helvetica, sans-serif; font-size: 14px; margin: 10px 0 13px 0; }
.app .app__appstore { background: url("/static/live4/img/svg/appstore.svg") no-repeat 0 0; -moz-background-size: 135px 40px 100%; -webkit-background-size: 135px 40px 100%; background-size: 135px 40px 100%; width: 135px; height: 40px; display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; display: inline-block; }

.footer { text-align: left; font-size: 10px; color: #4e4e4e; opacity: 0.3; *zoom: 1; line-height: 12px; padding-bottom: 10px; }
.footer:after { content: " "; display: table; clear: both; }
.footer p { overflow: hidden; }
.is-main .footer { color: white; }
.footer .footer__logo { background: url("/static/live4/img/svg/vgb.svg") no-repeat 0 0; -moz-background-size: 41px 21px 100%; -webkit-background-size: 41px 21px 100%; background-size: 41px 21px 100%; width: 41px; height: 21px; display: inline-block; float: left; margin-right: 14px; }
.is-main .footer .footer__logo { background: url("/static/live4/img/svg/vg.svg") no-repeat 0 0; -moz-background-size: 41px 21px 100%; -webkit-background-size: 41px 21px 100%; background-size: 41px 21px 100%; width: 41px; height: 21px; display: inline-block; }
.footer .footer__patent { margin-left: 20px; text-decoration: none; color: #4e4e4e; }
.is-main .footer .footer__patent { color: white; }

.content { padding-left: 240px; font-size: 12px; line-height: 1.5; color: #1a1919; font-family: Arial, sans-serif; padding-bottom: 65px; max-width: 800px; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
@media only screen and (max-width: 720px) { .is-responsive .content { padding-left: 0; } }
.content a { color: #1a1919; text-decoration: underline; }
.content ul { margin: 1em 0 1em 2em; list-style-type: disc; }
.content ul li { margin-bottom: 1em; padding-left: 10px; }
.content h1 { font-size: 32px; font-weight: normal; font-family: light, helvetica, sans-serif; color: black; margin-bottom: 38px; }
@media only screen and (max-width: 720px) { .is-responsive .content h1 { text-align: left; margin-top: 20px; margin-bottom: 20px; } }
.content p { margin-bottom: 1em; }
.content h2 { margin: 24px 0; font-weight: bold; font-family: Arial, sans-serif; }
.content h3 { font-size: 16px; font-weight: bold; margin: 12px 0; }
.content.content_support h1 { margin-bottom: 18px; }
.content.content_support h2 { margin: 0; font-size: 18px; font-weight: normal; font-family: light, helvetica, sans-serif; color: black; margin-bottom: 23px; line-height: 1; position: relative; left: -6px; }
.content.content_support h2 a { color: #0079ff; text-decoration: underline; }
.content.content_support h2 span { text-transform: uppercase; background: #f9ad1a; padding: 2px 6px; margin-right: 4px; }

.step { margin-bottom: 65px; position: relative; *zoom: 1; }
.step:after { content: " "; display: table; clear: both; }
.step .step__number { font-size: 72px; font-weight: normal; width: 100px; text-align: right; position: absolute; top: -7px; left: -115px; line-height: 1; font-family: light, helvetica, sans-serif; font-family: thin, helvetica, sans-serif; }
.step img { float: left; margin-right: 17px; }
.step .step__descr { padding-top: 133px; color: black; font-size: 18px; }
.step .step__descr strong { font-weight: normal; font-family: black, helvetica, sans-serif; }
.is-responsive .step { margin-left: 50px; }
@media only screen and (max-width: 720px) { .is-responsive .step h2 { line-height: 1.8; }
  .is-responsive .step img { float: none; margin: 0; display: block; }
  .is-responsive .step .step__number { left: -80px; width: 60px; margin-top: 10px; }
  .is-responsive .step .step__descr { padding: 0; margin-top: 20px; } }

.is-desktop { display: block; }
@media only screen and (max-width: 720px) { .is-desktop { display: none !important; } }

.is-mobile { display: none; }
@media only screen and (max-width: 720px) { .is-mobile { display: block; } }

@-moz-keyframes rotate { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes rotate { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-o-keyframes rotate { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-ms-keyframes rotate { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotate { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.lives .lives__loader { text-align: center; margin: 13px 0; }
.lives .lives__loader i { width: 43px; height: 43px; background: url(../img/loader.png) no-repeat 0 0; display: inline-block; -webkit-animation: rotate 400s linear infinite; -moz-animation: rotate 400s linear infinite; -ms-animation: rotate 400s linear infinite; -o-animation: rotate 400s linear infinite; animation: rotate 400s linear infinite; -webkit-backface-visibility: hidden; }
.lives .lives__more { border: 4px solid #eaeaea; display: block; text-decoration: none; color: black; margin-top: -20px; font-size: 24px; font-family: light, helvetica, sans-serif; color: #a60115; cursor: pointer; padding: 12px 0 12px 19px; }
@media only screen and (max-width: 720px) { .lives .lives__more { font-size: 16px; text-align: center; } }
.lives .lives__more i { background: url("/static/live4/img/svg/dots.svg") no-repeat 0 0; -moz-background-size: 36px 8px 100%; -webkit-background-size: 36px 8px 100%; background-size: 36px 8px 100%; width: 36px; height: 8px; display: inline-block; display: inline-block; vertical-align: middle; margin-right: 19px; position: relative; top: -3px; }
@media only screen and (max-width: 720px) { .lives .lives__more i { display: none; } }

.live { margin-right: 144px; position: relative; text-decoration: none; color: black; margin-bottom: 54px; }
@media only screen and (max-width: 720px) { .live { margin-right: 0; margin-top: 20px; } }
.live h2 { font-weight: normal; font-family: light, helvetica, sans-serif; color: black; font-size: 24px; margin-top: 5px; margin-bottom: 0; }
@media only screen and (max-width: 600px) { .live h2 { font-size: 20px; } }
.live .live__media { position: relative; }
.live .live__media img { width: 100%; display: block; }
.live .live__media .live__meta { width: 131px; position: absolute; bottom: 0; right: -144px; }
@media only screen and (max-width: 720px) { .live .live__media .live__meta { position: static; width: auto; } }
.live .live__media .live__user { position: absolute; top: 0; right: -144px; width: 131px; }
@media only screen and (max-width: 720px) { .live .live__media .live__user { position: static; width: auto; margin-bottom: 15px; margin-top: 10px; } }
.live .live__meta { position: absolute; bottom: 0; }
.live .live__user { white-space: nowrap; }
.live .live__user .live__userav { display: inline-block; width: 36px; height: 36px; border-radius: 36px; vertical-align: middle; }
.live .live__user .live__username { display: inline-block; font-size: 14px; color: #d0021b; font-family: light, helvetica, sans-serif; margin-right: 9px; }
.live .live__location { font-size: 12px; color: #727272; font-family: light, helvetica, sans-serif; padding-left: 27px; margin-bottom: 15px; position: relative; }
.live .live__location:before { content: " "; position: absolute; left: 3px; top: 0; background: url("/static/live4/img/svg/location.svg") no-repeat 0 0; -moz-background-size: 14px 19px 100%; -webkit-background-size: 14px 19px 100%; background-size: 14px 19px 100%; width: 14px; height: 19px; display: inline-block; }
.live .live__time { font-size: 12px; font-family: light, helvetica, sans-serif; color: black; padding-left: 27px; position: relative; cursor: pointer; }
.live .live__time span { color: #727272; display: block; font-family: regular, helvetica, sans-serif; }
.live .live__time:before { content: " "; position: absolute; left: 0; top: 0; background: url("/static/live4/img/svg/live.svg") no-repeat 0 0; -moz-background-size: 20px 17px 100%; -webkit-background-size: 20px 17px 100%; background-size: 20px 17px 100%; width: 20px; height: 17px; display: inline-block; }
.live .live__map { display: none; }
.live .live__map img { display: block; width: 100%; }
.live.is-withlocation .live__map { display: block; }

.content .user { position: absolute; top: 170px; width: 150px; left: 40px; }
.content .user ul { list-style: none; margin: 0; padding: 0; width: 150px; }
@media only screen and (max-width: 720px) { .content .user ul { position: static !important; } }
.content .user li { margin: 0; padding: 0; }
.content .user a { display: block; text-decoration: none; color: #d0021b; font-size: 14px; font-family: light, helvetica, sans-serif; padding: 7px 0 7px 37px; position: relative; }
.content .user a:before { position: absolute; content: " "; }
.content .user a.user__profile { margin-top: 40px; }
.content .user a.user__profile:before { background: url("/static/live4/img/svg/i-profile.svg") no-repeat 0 0; -moz-background-size: 22px 16px 100%; -webkit-background-size: 22px 16px 100%; background-size: 22px 16px 100%; width: 22px; height: 16px; display: inline-block; left: 11px; top: 8px; }
.content .user a.user__profile.is-active:before, .content .user a.user__profile:hover:before { background: url("/static/live4/img/svg/i-profileh.svg") no-repeat 0 0; -moz-background-size: 22px 16px 100%; -webkit-background-size: 22px 16px 100%; background-size: 22px 16px 100%; width: 22px; height: 16px; display: inline-block; }
.content .user a.user__events:before { background: url("/static/live4/img/svg/i-fave.svg") no-repeat 0 0; -moz-background-size: 20px 18px 100%; -webkit-background-size: 20px 18px 100%; background-size: 20px 18px 100%; width: 20px; height: 18px; display: inline-block; left: 13px; top: 7px; }
.content .user a.user__events.is-active:before, .content .user a.user__events:hover:before { background: url("/static/live4/img/svg/i-faveh.svg") no-repeat 0 0; -moz-background-size: 20px 18px 100%; -webkit-background-size: 20px 18px 100%; background-size: 20px 18px 100%; width: 20px; height: 18px; display: inline-block; }
.content .user a.user__explore:before { background: url("/static/live4/img/svg/i-exploreh.svg") no-repeat 0 0; -moz-background-size: 22px 14px 100%; -webkit-background-size: 22px 14px 100%; background-size: 22px 14px 100%; width: 22px; height: 14px; display: inline-block; left: 11px; top: 10px; }
.content .user a.user__explore.is-active:before, .content .user a.user__explore:hover:before { background: url("/static/live4/img/svg/i-exploreh.svg") no-repeat 0 0; -moz-background-size: 22px 14px 100%; -webkit-background-size: 22px 14px 100%; background-size: 22px 14px 100%; width: 22px; height: 14px; display: inline-block; }
.content .user a.is-active, .content .user a:hover { color: black; box-shadow: inset 0 0 0 4px #eaeaea; }
