// Normally mainpage styles
%in
	margin: 0 40px 
	min-width: 920px 
.is-main
	background: #333333 




.header
	@extend %in
	position: relative
	padding-top: 33px 
	z-index: 10 
	
	height: 81px 
	.is-main &
		text-shadow: 0 1px 0 rgba(#000, .5)
	.header__logo
		+svg(logo_black,112,87)
		+hide-text
		margin-right: 128px 
		float: left
		.is-main &
			+svg(logo,112,87)
	ul
		list-style: none
		font-size: 14px 
		text-align: left
		li
			display: inline-block
		a
			color: #9B9B9B 
			text-decoration: none 
			margin-right: 35px 
			display: inline-block
			&:hover,&.is-active
				color: #1A1919 
			.is-main &
				color: #A7AEB7 
				&:hover,&.is-active
					
					color: #fff 
	.header__live
		position: absolute
		top: 33px
		right: 0
		font-size: 14px   
		color: #A7AEB7
		text-align: right
		a
			color: #AFBAC6
			text-decoration: none 
			&:hover
				color: #fff
.mainpage
	position: relative
	height: 570px 
	overflow: hidden
	min-width: 1000px 
	.mainpage__video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		overflow: hidden    
	
	video
		width: 100%
		position: absolute
		left: 0
		top: 0
		
	.mainpage__motto
		@extend %in
		position: absolute
		left: 0
		bottom: -10px
		font-size: 100px   
		color: #fff 
		line-height: 1
		+thin

.app
	+clr
	@extend %in
	position: relative
	padding: 38px 0
	
	.app__text
		font-size: 24px 
		line-height: 32px
		+lite
		color: #fff 
		overflow: hidden
	.app__scr
		position: absolute
		top: -180px 
		right: 80px
	.app__link
		float: right
		margin-right: 370px 
		width: 140px 
		margin-left: 40px 
		color: #fff
		text-align: center
		.app__icon
			+s(icon)
			display: inline-block
	.app__title
		+medium
		font-size: 14px 
		margin: 10px 0 13px 0 
	.app__appstore
		+svg(appstore,135,40)
		+hide-text
		display: inline-block

		



.footer
	@extend %in
	text-align: left
	font-size: 10px 
	color: #4E4E4E 
	opacity: .3 
	+clr
	line-height: 12px
	padding-bottom: 10px 
	.is-main &
		color: #FFFFFF 
	.footer__logo
		+svg(vgb,41,21)
		float: left
		margin-right: 14px 
		.is-main &
			+svg(vg,41,21)
	.footer__patent
		margin-left: 20px 
		text-decoration: none
		color: #4E4E4E 
		.is-main &
			color: #fff 


.content
	@extend %in
	padding-left: 240px 
	font-size: 12px 
	line-height: 1.5
	color: #1A1919   
	font-family: Arial,sans-serif 
	padding-bottom: 65px 
	a
		color: #1A1919 
		text-decoration: underline
	ul
		margin: 1em 0 1em 2em
		list-style-type: disc 
		li
			margin-bottom: 1em
			padding-left: 10px   
	h1
		font-size: 32px 
		font-weight: normal
		+lite
		color: #000000 
		margin-bottom: 38px
	p
		margin-bottom: 1em
	h2
		margin: 24px 0
		font-weight: bold
		font-family: Arial,sans-serif
		// +b
		// font-weight: normal
	h3
		font-size: 16px 
		font-weight: bold
		margin: 12px 0
		// font-weight: normal
		// +b  
	&.content_support
		h1
			margin-bottom: 18px 
		h2
			margin: 0
			font-size: 18px  
			font-weight: normal
			+lite
			color: #000000
			margin-bottom: 23px  
			line-height: 1
			position: relative
			left: -6px 
			a
				color: #0079FF
				text-decoration: underline 
			span
				text-transform: uppercase
				background: #F9AD1A
				padding: 2px 6px  
				margin-right: 4px 

.step
	margin-bottom: 65px 
	position: relative
	+clr
	.step__number
		font-size: 72px 
		font-weight: normal
		width: 100px 
		text-align: right
		position: absolute
		top: -7px
		left: -115px  
		line-height: 1 
		+lite
		+thin
	img
		float: left
		margin-right: 17px 
	.step__descr
		padding-top: 133px 
		color: #000000
		font-size: 18px  
		strong
			font-weight: normal
			+b


















































































































































































































